// colors
$white: #ffffff;
$black: #000000;
$grey-light: #F2F2F2;
$grey: #303744;
$cyan: #54b8bc;
$red: #FF0000;
$purple: #8754DB;
$pink: #BD2DFD;
$blue : #006AFF;

// paths
$mainImagePath: '../images'

