%accordionOpacity {
  opacity: 0.4;
}

.accordion {
  $this: &;
  color: $white;

  &__row {
    @include transition(opacity 0.3s);
    @extend %accordionOpacity;

    &:hover {
      cursor: pointer;
      opacity: 1;
      #{$this}__action--disabled {
        @extend %accordionOpacity;
      }
    }

    &.active {
      opacity: 1;

      #{$this}__action:not(#{$this}__action--disabled) {
        i {
          &:before {
            content: '\e90f' !important;
          }
        }
      }
    }
  }

  &__inner {
    @include flex-wrap(wrap);
    @extend .flex;
    border-bottom: 1px solid $white;
    padding: 24px 0;

  }

  &__title {
    flex: 0.7;
    font-size: 16px;
    line-height: 24px;
    font-family: primary-semibold;
    text-transform: uppercase;

    p {
      width: 80%;
    }
  }

  &__description {
    flex: 1;
    padding: 0 40px;
    font-size: 24px;
    line-height: 34px;
    max-height: 68px;
    overflow: hidden;
    font-family: primary-light;
    @include transition(max-height 0.3s ease-out);
  }

  &__action {
    padding-top: 15px;
    font-size: 32px;
  }
}

@media (max-width: 1440px) {
  .accordion {
    &__description {
      font-size: 22px;
    }
  }
}

@media (max-width: 992px) {
  .accordion {
    &__row {
      opacity: 1;
    }
    &__description {
      font-size: 20px;
      line-height: 28px;
      max-height: 56px;
    }
    &__action {
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  .accordion {
    &__title {
      order: 0;
      flex: 1;
    }
    &__action {
      order: 1;
      padding-top: 0;
      font-size: 24px;
    }
    &__description {
      flex: 100%;
      order: 2;
      margin-top: 20px;
      padding: 0;
    }
  }
}
