
.slick-dots {
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  text-align: center;

  button {
    display: none;
  }

  li {
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    background-color: rgba($white, 0.4);
    @include border-radius(4px);
    @include transition(background-color 0.3s, width 0.3s);

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      width: 18px;
      background-color: $white;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: $black;
  color: $white;
  text-align: center;
  border: 0;
  z-index: 2;
  @include transform(translateY(-50%));

  &:not(.slick-disabled) {
    &:hover {
      cursor: pointer;
    }
  }

  &:before {
    font-family: icomoon;
    font-size: 10px;
  }

  &.slick-prev {
    left: -10px;

    &:before {
      content: '\e90b';
    }
  }
  &.slick-next {
    &:before {
      content: '\e90d';
    }
  }

  &.slick-disabled {
    opacity: 0.5;
  }
}
