.flex-table {
  $this: &;

  &__row {
    position: relative;

    &--head {
      font-size: 18px;
      font-family: primary;

      #{$this}__inner {
        padding: 0 24px 18px;
      }

      #{$this}__column {
        &:first-child {
          span {
            margin-left: -24px;
          }
        }
      }
    }

    &:not(&--head) {
      margin-bottom: 12px;
      background-color: $black;

      #{$this}__inner {
        padding: 24px;
        position: relative;
        z-index: 2;
        top: 0;
        background-color: $white;
        border: 1px solid $black;
        @include transform(translate(0, 0));
        @include transition(transform 0.3s);
      }

      &:hover {
        #{$this}__inner {
          @include transform(translate(-6px, -6px));
        }
      }

      &:last-child {
       margin-bottom: 0;
      }
    }
  }

  &__column {
    flex: 1;
    padding-right: 24px;

    &:last-child {
      padding-right: 0;
    }

    &--large {
      flex: 2.5;
    }
  }

  &__action {
    font-size: 26px;
    line-height: 0;
    @include transition(margin-right 0.3s);

    &:hover {
      cursor: pointer;
      margin-right: -6px;
    }
  }
}

@media (max-width: 992px) {
  .flex-table {
    $this: &;

    &__row {
      &--head {
        font-size: 16px;

        #{$this}__inner {
          padding: 0 16px 12px;
        }

        #{$this}__column {
          &:first-child {
            span {
              margin-left: -16px;
            }
          }
        }
      }

      &:not(&--head) {
        margin-bottom: 8px;

        #{$this}__inner {
          padding: 16px;
        }

        &:hover {
          #{$this}__inner {
            @include transform(translate(-3px, -3px));
          }
        }
      }
    }

    &__column {
      padding-right: 16px;

      &:last-child {
        max-width: 20px;
      }
    }

    &__action {
      font-size: 20px;
    }
  }
}

@media (max-width: 540px) {
  .flex-table {
    $this: &;

    &__row {
      &--head {
        font-size: 14px;

        #{$this}__inner {
          padding: 0 10px 8px;
        }

        #{$this}__column {
          &:first-child {
            span {
              margin-left: -10px;
            }
          }
        }
      }

      &:not(&--head) {
        #{$this}__inner {
          padding: 10px;
        }

        &:hover {
          #{$this}__inner {
            @include transform(translate(-2px, -2px));
          }
        }
      }
    }

    &__column {
      padding-right: 10px;
    }

    &__action {
      font-size: 18px;
    }
  }
}