
/* Speaker */

.speaker-list {
  @extend .flex;
  margin: 0 -20px;
  @include flex-wrap(wrap);
  @include align-items(stretch);

  &__item {
    width: 25%;
    max-width: 25%;
    padding: 30px 10px;
  }
}

$oval-size: 170px;
$oval-size-sm: 40px;
$icon-size: 52px;

.speaker-box {
  $this: &;

  color: $white;
  text-align: center;
  width: 100%;
  height: 100%;

  @media(min-width: 993px) {
    &:not(&--secondary):hover {
      .image-box {
        &__inner {
          @include transform(scale(1.3));
        }
      }

      #{$this}__icon {
        opacity: 1;
      }
    }
  }

  &__image, .image-box  {
    width: $oval-size;
    height: $oval-size;
    position: relative;
    margin: 0 auto;
    @include border-radius(50%);
  }

  &__image {
    margin-bottom: 20px;
    border: 3px solid $white;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(54.26deg, rgba(0, 204, 236, 0.7) 15.62%, rgba(215, 0, 227, 0.7) 89.46%);
      mix-blend-mode: color;
      @include border-radius(50%);
      @include box-sizing(border-box);
    }
  }

  .image-box {
    width: $oval-size - 6;
    height: $oval-size - 6;
    overflow: hidden;

    &__inner {
      width: 100%;
      height: 100%;
      @include transition(transform 0.5s);
    }
  }

  &__icon {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: $icon-size;
    height: $icon-size;
    text-align: center;
    font-size: 24px;
    color: #2867B2;
    line-height: $icon-size + 8;
    background-color: $white;
    mix-blend-mode: normal;
    @include border-radius(50%);
    @include transition(opacity 0.1s);
  }

  &:not(&--sm) {
    #{$this}__info {
      @extend .flex;
      @include flex-wrap(wrap);
      height: calc(100% - (#{$oval-size + 20}));
      height: calc(100% - (#{$oval-size + 20}));
      height: calc(100% - (#{$oval-size + 20}));

      >div {
        flex: 100%;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__link {
    color: $white;



    &:hover {
      #{$this}__name {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__name {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    font-family: primary-bold;

    &:after {
      content: '';
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      position: absolute;
      background-color: $white;
      @include transition(width 0.3s);
    }
  }

  &__position {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 10px auto 0;
    max-width: 320px;
  }

  &__social {
    display: none;
    margin-top: 10px;
    font-size: 16px;

    a {
      @extend .underline-hover;
    }
  }

  &__website {
    @extend .flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    height: 20px;

    img {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--sm {
    @extend .flex;
    text-align: left;

    #{$this}__image {
      width: $oval-size-sm !important;
      min-width: $oval-size-sm !important;
      height: $oval-size-sm !important;
      margin: 0;
      border-width: 1px;
    }

    #{$this}__info {
      color: $white;
      flex: 1;
      padding-left: 16px;
    }

    #{$this}__name {
      font-size: 15px;
      margin-bottom: 2px;
      text-transform: capitalize;
      font-family: primary;
    }

    #{$this}__position {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 18px;
      font-family: primary-light;
    }
  }

  &--secondary {
    @extend .flex;
    text-align: left;
    @include align-items(center);

    #{$this}__image {
      margin-bottom: 0;
    }

    #{$this}__name {
      font-size: 30px;
      margin-bottom: 8px;
    }

    #{$this}__position {
      font-size: 24px;
      line-height: 34px;
    }

    #{$this}__info {
      padding: 0 30px;
      height: auto !important;

      >div {
        &:first-child {
          margin-bottom: 0 !important;
        }
      }
    }

    .info-list {
      margin-top: 30px;

      li {
        font-size: 18px;
      }

      a {
        opacity: 0.8;
        @extend .underline-hover;
        @include transition(opacity 0.3s);

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.speaker-item-wrapper {
  &__inner {
    @extend .flex;
    @include align-items(center);
    @include justify-content(space-between);
  }

  &__content {
    @extend .flex;
    margin: 50px -60px;
    @include flex-wrap(wrap);

    >div {
      flex: 1;
      padding: 0 60px;
    }
  }

  &__bottom {
    @extend .flex;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba($black, 0.2);
    @include align-items(center);
    @include justify-content(space-between);
  }

  .speaker-box {
    &__position {
      max-width: initial;
      margin: 0;
    }
  }
}

.talk-schedule {
  flex: 1;

  &__time {
    @extend .flex;
    @include align-items(center);
    margin-top: 8px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: primary-semibold;
  }

  &__icon {
    font-size: 20px;
    line-height: 0;
    margin-right: 10px;

    i {
      font-weight: bold;
    }
  }
}

@media (max-width: 1440px) {
  /* Speaker */

  .speaker-list {
    margin: 0 -10px;
  }

  $oval-size: 140px;

  .speaker-box {
    $this: &;

    &__image  {
      width: $oval-size;
      height: $oval-size
    }

    .image-box  {
      width: $oval-size - 6;
      height: $oval-size - 6
    }

    &:not(&--sm) {
      #{$this}__info {
        height: calc(100% - (#{$oval-size + 20}));
        height: calc(100% - (#{$oval-size + 20}));
        height: calc(100% - (#{$oval-size + 20}));
      }
    }
    &__position {
      font-size: 14px;
      line-height: 22px;
    }

    &__website {
      font-size: 22px;
    }

    &--secondary {
      #{$this}__name {
        font-size: 28px;
      }

      #{$this}__position {
        font-size: 22px;
        line-height: 32px;
      }

      .info-list {
        li {
          font-size: 17px;
        }
      }
    }
  }


  .speaker-item-wrapper {
    &__content {
      margin: 40px -40px;

      >div {
        padding: 0 40px;
      }
    }
  }

  .talk-schedule {
    &__time {
      font-size: 20px;
    }

    &__icon {
      font-size: 18px;
      line-height: 0;
      margin-right: 10px;

      i {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 992px) {
  .speaker-list {
    &__item {
      width: 33.33333%;
      max-width: 33.33333%;
    }
  }

  .speaker-box {
    $this: &;

    &__name {
      font-size: 20px;
    }

    &__icon {
      display: none;
    }

    &__social {
      display: block;

      a {
        &:after {
          content: '';
          width: 100%;
        }
      }
    }

    &--secondary {
      #{$this}__name {
        font-size: 24px;
      }

      #{$this}__position {
        font-size: 20px;
        line-height: 30px;
      }

      #{$this}__info {
        padding: 0 20px;
      }

      .info-list {
        margin-top: 20px;

        li {
          font-size: 16px;
        }
      }
    }
  }

  .speaker-item-wrapper {
    &__content {
      margin: 30px -30px;

      >div {
        padding: 0 30px;
      }
    }

    &__bottom {
      margin-top: 30px;
      padding-top: 30px;
    }
  }

  .talk-schedule {
    &__time {
      font-size: 18px;
    }

    &__icon {
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .speaker-item-wrapper {
    &__bottom {
      @include flex-wrap(wrap);

      a {
        flex: 100%;
      }
    }
  }

  .talk-schedule {
    flex: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .speaker-list {
    &__item {
      width: 50%;
      max-width: 50%;
    }
  }

  $oval-size: 110px;

  .speaker-box {
    $this: &;

    &:not(&--secondary) {
      #{$this}__image {
        width: $oval-size;
        height: $oval-size
      }

      .image-box {
        width: $oval-size - 6;
        height: $oval-size - 6
      }
    }


    &__position {
      font-size: 15px;
    }

    &__name {
      font-size: 16px;
    }

    &:not(&--sm) {
      #{$this}__info {
        height: calc(100% - #{$oval-size});
        height: calc(100% - #{$oval-size});
        height: calc(100% - #{$oval-size});
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
      line-height: 46px;
      font-size: 18px;
    }
  }

  .speaker-item-wrapper {
    &__content {
      margin: 30px 0;

      >div {
        flex: 100%;
        padding: 0;

        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .speaker-item-wrapper {
    &__inner {
      @include flex-wrap(wrap);

      >div, a {
        flex: 100%;
      }

      >div {
        margin-bottom: 40px;
      }
    }

    &__bottom {
      @include flex-wrap(wrap);

      a {
        flex: 100%;
      }
    }
  }

  .speaker-list {
    &__item {
      flex: 100%;
      max-width: initial;
    }
  }

  .talk-schedule {
    flex: 100%;
    margin-bottom: 30px;
  }


  .speaker-box {
    $this: &;

    &--secondary {
      @include flex-wrap(wrap);

      #{$this}__image {
        margin: 0 0 20px;
      }
      #{$this}__info {
        flex: 100%;
        padding: 0;
      }
    }
  }
}